belajar.ipynb
calculator.py
calorie_calculator.py
calorie_test.py
Dataload.ipynb
DB.ipynb
exercise_modul.ipynb
FTDS_P0_Holiday_Kit.ipynb
Jawaban.ipynb
P0kisi2_LC2.ipynb
Selenium.ipynb
Selenw.ipynb
Web_Scraping.ipynb
h8dsft_ngc_python_syntax_and_variable.ipynb
Jawaban.ipynb
Belajar_API.ipynb
practiceoop.py
PythonBasic.ipynb